.input {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-text-f1);
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.input:focus {
  outline: 2px solid #001844;
  outline-offset: -1px;
}
