.container {
  max-width: calc(1032px + 84px);
  padding: 0 42px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .container {
    max-width: calc(480px + 32px);
    padding: 0 16px;
    margin: 0 auto;
  }
}
